<p>Ця робота поширюється за ліцензією <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a>.</p>
<p>"Rails", "Ruby on Rails" і логотип Rails є торговельними марками David Heinemeier Hansson. Усі права захищено.</p>
